.signin-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.m-height-100{
      min-height: 100px;
}
.m-height-150{
  min-height: 149px;
}
@media (min-width: 576px) {
    .signin-wrapper {
        padding: 30px;
    }
}

.signin-box {
    width: 400px;
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 20px;
}

@media (min-width: 480px) {
    .signin-box {
        padding: 40px;
    }
}

.signin-box .slim-logo {
    margin-right: 0;
    margin-bottom: 40px;
}

.signin-box.signup {
    width: 500px;
}

.signin-box.signup .btn-signin {
    margin-bottom: 20px;
}

.signin-title-primary {
    font-weight: 300;
    color: #212529;
}

.signin-title-secondary {
    font-weight: 300;
    margin-bottom: 50px;
}

.btn-signin {
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
    border: 0;
    min-height: 40px;
    background-image: linear-gradient(to right, #1b84e7 0%, #6f42c1 100%);
    background-repeat: repeat-x;
}

.signin-left,
.signin-right {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

@media (min-width: 768px) {

    .signin-left,
    .signin-right {
        width: 50%;
    }
}

.signin-left .signin-box,
.signin-right .signin-box {
    border: 0;
    padding: 0;
}

.signin-left .signin-box {
    background-color: transparent;
}

.signin-right {
    background-color: #fff;
}

.signup-separator {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.signup-separator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
}

.signup-separator span {
    background-color: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 5;
}
